<div fxFlexOffset="20" fxFlex="60" class="jokes">
  <h2>My Jokes</h2>
  <mat-accordion>
    <div *ngFor="let joke of jokes">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="badge">{{joke.id}}</span>{{joke.setup}}
          </mat-panel-title>
          <mat-panel-description class="right-aligned">
            <span>type:&nbsp;</span>{{joke.type | titlecase}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <h2>{{joke.punchline}}</h2>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
  <button mat-button color="primary" (click)="getNewJokes()">Get New Jokes!</button>
</div>

